/* Bordered form */
form {
    width: 350px;
    margin: 30px auto;
    border: 1px solid black;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 30px;
    margin: 8px 30px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 3px 100px;
    border: none;
    cursor: pointer;
    width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



/* Add padding to containers */
.container {
    padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}